h1{
  text-align: center;
}

body{
  padding: 5%;
}

.bg{
  margin: 10% 25% 10% 22%;
  width: 50vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 1em;
  position: absolute;
  top: 10%;
  right: 0px;
}

.mainbtn{
  background-color: transparent;
  width: 10vw;
  border: 1px solid black;
  padding: 0.4%;
  font-size: 1em;
}

.Div1>button{
  background-color: transparent;
  width: 10vw;
  border: 1px solid black;
  padding: 0.4%;
  font-size: 1em;
}

.Div1>button:hover{
  background-color: tomato;
}